<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" color="#1DA0F2" size="medium"></ngx-spinner>

<div class="card mb-3 primary fade-in" style="max-width: 35rem; box-shadow: 0 0 30px rgba(0,0,0,.15);">
    <div class="card-header mt-3 text-center">

        <h2>Login</h2>
    </div>
    <flash-messages></flash-messages>
    <div class="card-body text-main font-weight-bold">
        <form (submit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" [(ngModel)]="email" #emailinput="ngModel" id="email" name="email" placeholder="user@email.com" required>
              <div *ngIf="emailinput.invalid && emailinput.touched" class="alert alert-danger">
                <div *ngIf="emailinput.errors.required">
                  Email is required.
                </div>

              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control"  [(ngModel)]="password" #passwordinput="ngModel" id="password" name="password" minlength="5" placeholder="****" required>
              <div *ngIf="passwordinput.invalid && passwordinput.touched" class="alert alert-danger">
                <div *ngIf="passwordinput.errors.required">
                  Password is required.
                </div>
                <div *ngIf="passwordinput.errors.minlength">
                  password must containt at least 5 characters
                </div>

              </div>
            </div>

            <button type="submit" class="btn btn-block btn-main text-white font-weight-bold" [disabled]="!password || !email || password.length<5">Login</button>
          </form>
          <a routerLink="/register" class="btn mt-1 btn-dark btn-block">Don't have an account ? Register here</a>

    </div>
  </div>