<app-header></app-header>


<div class="container mt-5">
    <flash-messages></flash-messages>
 
    
        <div class="card  mb-3 primary ">
            <div class="card-header mt-3 text-center ">
                <h3 class=" font-weight-bold text-white"><strong class="text-main">Edit</strong> an Event.</h3>
            </div>
            
            <div class="card-body text-main font-weight-bold top-border-main" *ngIf="isFetched">
                <form (submit)="onSubmit()">
                    <div class="form-group">
                       <input type="hidden" name="_id" value="{{_id}}" id="" readonly> 
                      <label for="name">Name</label>
                      <input type="text" class="form-control" [(ngModel)]="name" id="name" name="name" placeholder="Learning MEAN Stack" required>
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea name="description" id="description" class="form-control" cols="30" rows="6"  [(ngModel)] = "description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="maxparticipants">Max Participants</label>
                        <input type="number" class="form-control" [(ngModel)]="maxparticipants" id="maxparticipants" name="maxparticipants" required>
                      </div>
                      <div class="form-group">
                        <label for="name">Category</label>
                        <select class="form-control" name="category" [(ngModel)]="category">
                            <option *ngFor="let category of categories" value="{{category._id}}" >{{category.name}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="link">Link</label>
                        <input type="url" name="link" id="link" class="form-control"  [(ngModel)] = "link" required>
                      </div>
                      <div class="form-group">
                        <label for="eventdate">Date and time</label>

                          <input class="form-control" type="datetime-local" [(ngModel)]="eventdate"  name="eventdate">
                    
                      </div>
        
                    <button type="submit" class="btn btn-block btn-warning text-white font-weight-bold" [disabled]="!this.name || !this.link || !this.description || !this.eventdate || !this.maxparticipants || !this.category" >Edit Event</button>
                  </form>
            </div>
          </div>


  
</div>
