<div class="container" style="font-size: 1.4rem;">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-main">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <button class="btn btn-main text-white" style="margin-left: 10px; margin-right: 10px;" routerLink="/">Go Home !</button>
                </div>
            </div>
        </div>
    </div>
</div>