.card:hover{transition: all 0.1s ease;
    opacity: 1;transform: scale(1.02) ;   
 
             
}

.card{
    opacity: 1; transform: scale(1.00);transition: all 0.1s ;
    
}

.btn-outline-orange{
    color:#e64a19;
    border-color: #e64a19;
    font-weight: bold;
}
.btn-outline-orange:hover{
    background-color: #e64a19;
    border-color: #e64a19;
    color: white;
}

.btn-outline-danger:hover{color: white !important;}
.btn-outline-danger{cursor: auto;}
