<app-header></app-header>

<div class="primary text-center" style="height: 10%; width: 100%;text-align: center;">
  <hr>
    <h2 class="font-italic pt-3 pb-3 text-white font-weight-bold"><strong class="text-main">Joined</strong> Events</h2>
</div>
<div class="text-center text-white mt-5" *ngIf="isFetched && joinedEvents.length==0">
  <div class="text-main">
    
    <h2>
        Can not find Events</h2>
    <div class=" text-muted">
        Attend awesome Events !
    </div>
    <div >
      <button routerLink="/" class="btn mt-3 btn-success font-weight-bold"><i class="fas fa-glass-cheers  mr-2"></i>Find Events </button>
    </div>
</div>
</div>
<div class="container">
  <flash-messages></flash-messages>

  <div class="row mt-5">
      <div class="col-lg-8" *ngIf="joinedEvents.length>0">
        <div *ngFor="let event of joinedEvents" class="col">
            <div class="card border-main primary mb-3" style="width: 100%;" *ngIf="isFetched">
                <div class="card-header text-white"><i class="fas fa-calendar-week mr-2 text-main"></i>  {{eventSrv.formatDate(event.eventdate)}}
                  <a class="btn btn-outline-orange ml-5 float-right" [href]="event.link" role="button" target="_blank"><i class="fas fa-mouse-pointer mr-2"></i>Join</a>
                </div>
                <div class="card-body text-muted">
                  <h5 class="card-title text-main font-weight-bold ">{{event.name}}</h5>
                  <i class="{{event.category.icon}} mr-2 text-main"></i>{{event.category.name}}  
             
                </div>
                <div class="card-footer text-muted">
                  <div class="row">
                    <div class="col" style="padding-top: 5.5px;">
                      <i class="fas fa-user ml-2 mr-2 text-main"></i> {{event.participants.length>0?event.participants.length:0}} Attendees  
                    </div>
                    <div class="col" >
                      <button routerLink="/events/{{event._id}}" class="btn btn-block btn-main text-white font-weight-bold" ><i class="fas fa-info-circle mr-2"></i>Details</button>
                    </div>
         
                  </div>       
                  </div>
              </div>
        
          </div>
      </div>
      <div class="col-lg-4 text-white " style="font-size: 1.1rem;" *ngIf="isFetched && joinedEvents.length>0 ">
        <button  class="btn btn-block primary font-weight-bold text-white" style="cursor:text !important;"><i class="fas fa-calendar-check text-main mr-2"></i>  Enjoy your Attends</button>     
        <button  class="btn btn-block primary font-weight-bold text-white mb-5" style="cursor:text !important;">  <i class="fas fa-thumbs-up  mr-2 text-main mr-2"></i>{{joinedEvents.length}} Events</button>
        <app-calendar *ngIf="joinedEvents" [events]="joinedEvents"></app-calendar>

      </div>



</div>
    
</div>